

#conteudo,#linhaprinc{
  margin-top: 20px;
  padding: 20px;
}
label, input[type=submit]{
  display:block;
}
#mensagem{
  margin-top: 20px;

}
#container{
  padding: 10px;
border: black;
background-color: red;
}

#navbar{
  background-color: #05a61d;
  color: #20731d;
}

#navtext{
  color: hsl(0, 0%, 100%);
} 
#caixa{
  background-color: #f2d16d;
  color: #20731d;
  font-weight: bold;
}

