

#conteudo,#linhaprinc{
  margin-top: 20px;
  padding: 20px;
}
label, input[type=submit]{
  display:block;
}
#comentarios{
  margin-top: 20px;
}
#container{
  padding: 10px;
border: black;
background-color: red;
}

#navbar{
  background-color: rgb(23, 119, 28);
}

#navtext{
  color: hsl(0, 0%, 100%);
} 
